


<!DOCTYPE html>
<html>
    <head>
        <title>{{.Title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <audio id="audio2" src=""></audio>	
        </div>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="/Home" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a href="/InitialArtistInfo#" class="nav-link active">Artists</a></li>
                    <li class="nav-item"><a href="/InitialAlbumInfo" class="nav-link">Albums</a></li>
                    <li class="nav-item"><a href="/InitialSongInfo" class="nav-link">Songs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Playlists</a></li>
                </ul>
            </header>
        </div>
		<div>
			<h1>Currently Playing</h1>
			<img src="/animals.jpg" alt="fuck" />
		</div>
    </body>
</html>

<!--  

 tart PlaylistEditPage 
 <div class='amp' data-role="page" id="playlisteditpage" data-theme="b">
 	<div class='genpopup' id="editpopup" data-role="popup" data-theme="b">
 		<div>
 			<a href="#" data-rel='back' class='pledclosebtn ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left'>Close</a>
 			<h3 id="editpopupH4">Delete Song From Playlist</h3>
 			<h5 id="editpopupH5"></h5>
 			<h5 id="editpopup2H5"></h5>
 		</div>
 		<div>
 			<a href="#playlisteditpage" id='editYesBtn' class='show-page-loading-msg plssel ui-btn ui-corner-all' data-textonly='false' data-textvisible='false' data-msgtext=''>Yes</a>
 		</div>
 	</div>
 	<div data-role='header' data-them='b'>
 		<a href="#playlists" data-rel='back' data-icon='arrow-l' data-iconpos='notext' data-shadow='false' data-icon-shadow='false'>Back</a>
 		<h1>Edit Playlist</h1>
 	</div>
 	<div id='pleditMain' role='main' class="ui-content"></div>
 </div>
 nd PlaylistEditPage 









 tart ArtistSelectPlPage 
 <div class='amp' data-role="page" id="artistselectplpage" data-theme="b">
 	<div data-role='header' data-them='b'>
 		<a href="" data-rel='back' data-icon='arrow-l' data-iconpos='notext' data-shadow='false' data-icon-shadow='false'>Back</a>
 		<h1>Select A Artist Playlist</h1>
 	</div>
 	<div role='main' class="ui-content">		
 		<div id='artsplDiv'>
 			<h3 id="artsplH3"></h3>
 			<ul id='artsplUL' data-role='listview' data-inset='true' data-split-icon='gear'></ul>
 		</div>
 		<a href="" data-rel='back' class="ui-btn ui-corner-all">Back</a>	
 	</div>
 </div>
 nd ArtistSelectPlPage 








 tart AlbumSelectPlPage 
 <div class='amp' data-role="page" id="albumselectplpage" data-theme="b">
 	<div data-role='header' data-them='b'>
 		<a href="" data-rel='back' data-icon='arrow-l' data-iconpos='notext' data-shadow='false' data-icon-shadow='false'>Back</a>
 		<h1>Select A Album Playlist</h1>
 	</div>
 	<div role='main' class="ui-content">		
 		<div id='albsplDiv'>
 			<h3 id="albsplH3"></h3>
 			<ul id='albsplUL' data-role='listview' data-inset='true' data-split-icon='gear'></ul>
 		</div>
 		<a href="" data-rel='back' class="ui-btn ui-corner-all">Back</a>	
 	</div>
 </div>
 nd AlbumSelectPlPage 







 tart SelectPlPage 
 <div class='amp' data-role="page" id="selectplpage" data-theme="b">
 	<div data-role='header' data-them='b'>
 		<a href="" data-rel='back' data-icon='arrow-l' data-iconpos='notext' data-shadow='false' data-icon-shadow='false'>Back</a>
 		<h1>Select A Song Playlist</h1>
 	</div>
 	<div role='main' class="ui-content">		
 		<div id='splDiv'>
 			<h3 id="splH3"></h3>
 			<ul id='splUL' data-role='listview' data-inset='true' data-split-icon='gear'></ul>
 		</div>
 		<a href="" data-rel='back' class="ui-btn ui-corner-all">Back</a>	
 	</div>
 </div>
 nd AlbumSelectPlPage 







 Start Settings Page 
 <div class='amp' data-role="page" id="settings" data-theme="b">
 	<div data-role="header" data-theme="b" data-position="fixed">
 		<a href="#intro" class="homeBTN ui-btn-left ui-btn ui-btn-inline ui-icon-home ui-btn-icon-notext ui-mini ui-corner-all"></a>
 		<h1>Stats</h1>		
 	</div>
 	<div role="main" class="ui-content" id="artistmain1">
 		<fieldset>
 			<div data-role='fieldcontain'>
 				<label for="select-based-flipswitch'">TransCode To:</label>
 				<select id="select-based-flipswitch" data-role='flipswitch'>
 					<option value="mp3">MP3</option>
 					<option value="ogg">OGG</option>		
 				</select>
 			</div>		
 		</fieldset>
 		<div id="statsDiv"><h3>DataBase Stats</h3><table id="statsTab"></table></div>		
 	</div>
 </div>
 End Settings Page 

 
 </body>
 </html>

 -->











































































































































































































































































































































































































































































































































